body {
	background-color: #dedfe0;
}
.form-control:focus {
  border-color: rgb(254,176,65);
  box-shadow: inset 0 1px 1px rgba(254,176,65,0.5), 0 0 8px rgba(254,176,65,0.7);
}
input.form-control.checkdisabled{
	background-color: white;
}
input.form-control.checkdisabled:hover{
	cursor: default;
}
span.form-control.normalcursor:hover{
	cursor: default;
}
label.control-label.col-xs-3.textforbaseandglass{
	margin-top: 1.75%;
}
div.col-xs-4.col-xs-pull-1.checkboxforbaseandglass{
padding-left: 1%;
padding-right: 0; 
width: 22%;
}
div.col-xs-4.materialsgroup{
	margin-bottom: 1em;
}
.navbar-brand {
	font-family: 'Audiowide', cursive;
}
td {
	width: 200px;
	height: 70px;
	border: 1px solid;
	text-align: center;
}
a.navbar-brand.brandname{
	color: rgb(254,176,65);
}
nav.navbar.navbar-default {
	background-color: rgb(49,49,49);
}
ul.nav.navbar-nav li a {
	color: #ffffff;
}
ul.nav.navbar-nav li a:hover {
	color: rgb(254,176,65);
}
ul.dropdown-menu.delabnavdropdown li a {
	color: #000000;
}
.dropdown.open a.dropdown-toggle.delabuserdropdown {
	background-color: #575c63;
	color: rgb(254,176,65);
}
a.dropdown-toggle.delabuserdropdown {
	color: #ffffff;
}
div.panel-heading.joborderpanel {
	background-color: #e0831f;
	color: #ffffff;
}
td {
	outline: none;	
}
td:focus {
	border-color: rgb(254,176,65);
  	box-shadow: inset 0 1px 1px rgba(254,176,65,0.5), 0 0 8px rgba(254,176,65,0.5);
}
hr.style1{
	border-top: 1px solid #8c8b8b;
	margin-top: 0;
}
.customerinfolabel{
	width: 150px;
}
textarea {
	resize: none;
}
.loginpanel {
	padding-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.loginlabel {
	width: 100px;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
#loginpanelheading {
	background-color: #e0831f;
	color: #ffffff;
}
.addMaterialPanel {
	margin-left: auto;
	margin-right: auto;
}