<h1>LOGIN</h1>
<form action="/login" method="post">
    <span>Username</span>
    <input type="text" name="username"></input>
    <span>Password</span>
    <input type="password" name="password"></input>
    <button>Login</button>
</form>