<h1>Register</h1>
<form action="/register" method="post">
    <span>Username</span>
    <input type="text" name="username"></input>
    <span>Password: </span>
    <input type="password" name="password"></input>
    <button>Submit</button>
</form>