<% include partials/header %>

<div class="col-xs-4 col-xs-offset-4">
<div class="panel panel-default">
    <div class="panel-heading">Add Material</div>
    <div class="panel-body">
        <form class="form" action="/materials/new" method="POST">
            <div class="addMaterialPanel">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group">
			    		<label for="materialName">Material: </label>
			    		<input type="text" class="form-control" id="materialName" name="materialName">
			 		</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group">
			    		<label for="materialQuantity">Quantity: </label>
			    		<input type="text" class="form-control" id="materialQuantity" name="materialQuantity">
			 		</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group">
			    		<button class="btn btn-warning btn-lg">Add</button>
			 		</div>
                </div>
            </div>
            </div>
        </form>
    </div>
</div>
</div>

<% include partials/footer %>